<%= form_for([topic, comment],remote: true)do |f| %>
  <!-- <%= f.error_messages! %> -->
  <%= f.hidden_field :topic_id, :value=>topic.id.to_s %>
  <div class="comment-form">
    <!-- ここにエラーメッセージを表示したい -->
    <% if comment.errors.any? %>
      <div id="error_explanation_<%= topic.id.to_s %>">
        <%= f.error_messages! %>
      </div>
    <% end %>
    <div class="media">
      <div class="pull-left">
        <div class="comment-img-trim"><%=profile_img(current_user) %></div>
      </div>
      <div class="media-body">
        <div class="field">
          <%=f.text_field :content,class:"form-control comment-area", placeholder:"コメントする…" %>
        </div>
        <br>
        <div class="pull-right">
          <div class="actions">
            <%= f.submit "投稿", class:"btn btn-primary button-sm btn-default pull-right" %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
