<div class="container">
  <h2>ユーザー詳細</h2>
  <div class="row">
    <div class="col-md-3 hidden-sm hidden-xs">
      <div class="row profile section-box ">
        <h4>フォローしているユーザー</h4>
        <% @user.followed_users.each do | followed_user | %>
          <div class="user-trim"><%= profile_img(followed_user) %></div>
          <!-- <%= followed_user.name %><br><br> -->
          <%= link_to followed_user.name, followed_user %><br><br>
          <!-- <%= followed_user.email %><br><br> -->
        <% end %>
      </div>

      <div class="row profile section-box ">
        <h4>フォロワー</h4>
        <% @user.followers.each do | follower | %>
          <div class="user-trim"><%= profile_img(follower) %></div>
          <!-- <%= follower.name %><br><br> -->
          <%= link_to follower.name, follower %><br><br>
          <!-- <%= follower.email %><br><br> -->
        <% end %>
      </div>
    </div>

    <div class="col-md-6">
      <div class="row section-box">
        <div class="media">
          <a class="pull-left" href="#">
            <div class="my-profile-trim"><%= profile_img(@user) %></div>
          </a>
          <div class="media-body">
            <h4 class="media-heading"><%= @user.name %></div>
            <%= @user.email %>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
